// _footer.scss 			~/styles/partials/
////////////////////////////////////////////////////////////


.footer {
  background-color: $taupe;
  .container {
    display: grid;
    align-items: center;
    flex-direction: column;
    min-height: rem-calc(300);
    text-align: center;
    padding: rem-calc(10 20);
  }
}


.footer h2 {
  color: $white;
  margin-bottom: rem-calc(20);
  grid-column: 1;
  grid-row: 1;
  @media #{$large-up} {

  }
}


.footer .text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  grid-column: 1;
  grid-row: 2;
  @media #{$large-up} {
    grid-column: 2;
    grid-row: 1 / 3;
  }
  p {
    @media #{$medium-up} {
      width: rem-calc(346);
    }
  }
}


.footer .logo {
  grid-column: 1;
  grid-row: 3;
  @media #{$large-up} {
    grid-row: 2;
  }
  img {
    width: rem-calc(211);
    @media #{$large-up} {
      width: rem-calc(375);
    }
  }
}


.fb-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem-calc(115);
  height: rem-calc(32);
  background-color: $white;
  font-size: rem-calc(12);
  border-radius: rem-calc(4);
  box-shadow: rem-calc(0 4 9 0) $blk-15;
  margin-bottom: rem-calc(20);
  cursor: pointer;
  img {
    margin-right: rem-calc(5);
  }
  &:hover {
    background-color: lighten($briblu, 40%);
  }
  &:active,
  &:focus {
    box-shadow: none;
  }
}