// _hero.scss 			~/styles/partials/
////////////////////////////////////////////////////////////


.hero .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $purbro;
  background-image:
    linear-gradient(to top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.5)),
    url(./img/house.jpg);
  padding: rem-calc(33 20 0);
  height: rem-calc(300);
  @media #{$medium-up} {
    padding: rem-calc(30 20 0);
  }
  @media #{$large-up} {
    padding: rem-calc(35 76 0);
    height: rem-calc(409);
    align-items: flex-start;
  }
}


// Heading Type
.hero h1 {
  color: $white;
  text-align: center;
  width: rem-calc(245);
  margin-bottom: rem-calc(50);
  @media #{$medium-up} {
    width: rem-calc(327);
    margin-bottom: rem-calc(30);
  }
  @media #{$large-up} {
    width: rem-calc(436);
    text-align: left;
    margin-bottom: rem-calc(50);
  }
}

