// _topbar.scss 			~/styles/partials/
////////////////////////////////////////////////////////////


.topbar .container {
  display: flex;
  align-items: center;
  height: rem-calc(115);
  background-color: $white;
  padding-left: rem-calc(20);
  @media #{$medium-up} {
    height: rem-calc(155);
    padding-left: rem-calc(40);
  }
}


// Logo container
.topbar .logo {
  width: rem-calc(211);
}


// Logo image
.topbar img {
  margin-bottom: rem-calc(10);
}