// _typeography.scss 			./styles/partials/
////////////////////////////////////////////////////////////



// Headings
////////////////////////////////////////////////////////////
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $bitter;
  font-weight: normal;
  color: $grebro;
}

h1 {
  font-size: rem-calc(36);
  text-shadow: rem-calc(0 2 4) $blk-5;
  @media #{$medium-up} {
    font-size: rem-calc(48);
  }
  @media #{$large-up} {
    font-size: rem-calc(64);
  }
}
h2 {
  font-size: rem-calc(28);
  @media #{$medium-up} {
    font-size: rem-calc(36);
  }
  @media #{$large-up} {
    font-size: rem-calc(48);
  }
}
h3 {
  font-size: rem-calc(24);
  @media #{$medium-up} {
    font-size: rem-calc(36);
  }
  @media #{$large-up} {
    font-size: rem-calc(48);
  }
}

h4 {
  font-size: rem-calc(18);
}


// Default font styles
////////////////////////////////////////////////////////////
body {
  color: $grebro;
  font-family: $opensans;
  font-size: rem-calc(16);
  @media #{$medium-up} {
    font-size: rem-calc(18);
  }
  @media #{$large-up} {
    font-size: rem-calc(20);
  }
}


// Paragraph styles
p {
  margin-bottom: rem-calc(20);
  line-height: 1.4;
}


// Links
////////////////////////////////////////////////////////////
a {
  text-decoration: none;
  color: $clr-links;
  transition: $link-transition;
  &:hover,
  &:focus {
    color: $clr-links-alt;
  }
}
