<section class="footer">
  <div class="container">
    <h2>Let's Work Together</h2>

    <div class="text">
      <a href="//m.me/bradbodine.ads" class="fb-message"><img src="/img/icon.png" alt="">Message Me</a>
      <p>Message me on Facebook to talk more about your business.</p>
      <p>~ OR ~</p>
      <p>Request me to contact you through this website. <a href="" data-leadbox-popup="143eacf73f72a2:177e5dbce946dc" data-leadbox-domain="bradbodine.lpusercontent.com">Contact Me.</a></p>
    </div>

    <div class="logo">
      <a href="/"><img src="/img/logo-bradbodine-light.svg" alt="Brad Bodine"></a>
    </div>
    
    <!-- <p>&copy; {{ now.Format "2006" }} bradbodine.com</p> -->
  </div>
</section>

{{ partial "scripts" . }}
</body>
</html>
