<section class="topbar">
  <div class="container">
    <div class="logo">
      <a href="/"><img src="/img/logo-bradbodine.svg" alt="Brad Bodine"></a>
      <h4>Online Marketing</h4>
    </div>
  </div>
</section>