// _buttons.scss 			./styles/mixins/
////////////////////////////////////////////////////////////



// CTA (Call to Action) button
// USEAGE: @include cta-button;
@mixin cta-button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $bitter;
  font-size: rem-calc(18);
  color: $white;
  text-align: center;
  background-color: $purbro;
  border: rem-calc(1) solid $white;
  width: 100%;
  max-width: rem-calc(280);
  min-height: rem-calc(47);
  padding: rem-calc(10 30);
  transition: $link-transition;
  cursor: pointer;
  @media #{$large-up} {
    font-size: rem-calc(24);
    min-height: rem-calc(64);
    max-width: rem-calc(387);
  }
  &:hover {
    background-color: darken($purbro, 7%);
    color: $white;
  }
}