// _home.scss 			./styles/pages/
////////////////////////////////////////////////////////////


// Content section styles
[class^="home-content"] .container {
	display: flex;
	flex-direction: column;
	background-color: $white;
	padding: rem-calc(20 20 20);
	@media #{$medium-up} {
		padding: rem-calc(20 40 40);
  }
  @media #{$large-up} {
    padding: rem-calc(40 40 40);
  }
	.button {
		margin-bottom: rem-calc(20);
		align-self: center;
		@media #{$medium-up} {
			margin-top: rem-calc(30);
			margin-bottom: rem-calc(80);
		}
		@media #{$large-up} {
			align-self: flex-start;
			margin-left: rem-calc(38);
		}
	}
}


[class^="home-content"] h3 {
	margin-bottom: rem-calc(10);
}


// Quote section styles
[class^="home-quote"] {
  background-color: $purbro;
	.container {
    display: flex;
    align-items: center;
    font-family: $bitter;
    color: $white;
    min-height: rem-calc(100);
    padding: rem-calc(20);
    margin-bottom: 0;
    @media #{$medium-up} {
      font-size: rem-calc(24);
      padding: rem-calc(20 55);
    }
    @media #{$large-up} {
      font-size: rem-calc(36);
      padding: rem-calc(40 76);
    }
  }
}