// _thanks.scss 			./styles/pages/
////////////////////////////////////////////////////////////


// Content section styles
[class^="thank-you"] .container.thanks {

  display: flex;
	flex-direction: column;
  background-color: $white;
  width: 50%;
	padding: rem-calc(20 20 20);
	@media #{$medium-up} {
		padding: rem-calc(20 40 40);
  }
  @media #{$large-up} {
    padding: rem-calc(40 40 40);
  }
}


