{{ partial "header" . }}

{{ partial "topbar" . }}


<section>
  <div class="container thanks">
    <h3>{{ .Title }}</h3>

    {{ .Content }}
  </div>
</section>

{{ partial "scripts" . }}
</body>
</html>