{{ partial "header" . }}

{{ partial "topbar" . }}

{{ partial "hero" . }}

<section>
  <div class="container">
    <h3>{{ .Title }}</h3>

    {{ .Content }}
  </div>
</section>

{{ partial "footer" . }}