{{ partial "header" . }}

{{ partial "topbar" . }}

{{ partial "hero" . }}

<section class="home-content-1">
  <div class="container">
    <h3>What I Do?</h3>
    <p>I work with small service-based business to create effective online marketing. My goal is to get you trackable results while spending less money. Homeadvisor and Thumbtack are currently the primary way that service-based businesses find leads. I want to help you stop searching for leads and have leads come to you.</p>
    <p>I use Facebook advertising to broadcast your name where people spend a lot of their time. Facebook ads are the most affordable and effective ads available to service-based businesses today. I understand how these ads work and can get your business running ads in just a few hours.</p>
  </div>
</section>

<section class="home-quote-1">
  <div class="container">
    <p>“Try not to become a man of success, but rather a man of value.”<br>
        — Albert Einstein</p>
  </div>
</section>

<section class="home-content-2">
  <div class="container">
    <h3>What does it Cost?</h3>
    <p>There are 2 costs involved with Facebook ads; the cost of the ads (Facebook) and the cost to manage the ads (me). To start, I recommend spending $5 per day on your ads. For a typical month that is a total of around $150 to Facebook. I only charge a fraction of that amount to manage your ads based on the amount you want to spend.</p>
    {{ partial "button" . }}
  </div>
</section>

<section class="home-quote-2">
  <div class="container">
    <p>“The starting point of all achievement is desire.”<br>
        — Napoleon Hill</p>
  </div>
</section>

<section class="home-content-3">
  <div class="container">
    <h3>What do I Have to Do?</h3>
    <p>Use the contact form here on my website to contact me and tell me what you would like to advertise in your business. From there, I will gather the information needed to start your Facebook Business account and create the graphics, web pages, ads, etc, that will make an effective ad campaign and drive new leads to your inbox or phone.</p>
  </div>
</section>

{{ partial "footer" . }}
